In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
games = pd.read_csv('Assignment 4.csv', sep=',')

In [3]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
games['Global_Sales'].mean()

0.53744065550074

In [5]:
confidence = 0.9

st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.5175860248001194, 0.5572952862013607)

In [6]:
confidence = 0.95

st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.513781998985215, 0.5610993120162651)

In [7]:
confidence = 0.99

st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.5063466018870761, 0.568534709114404)

In [8]:
confidence = 0.999

st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.49771664232414425, 0.5771646686773362)

In [9]:
games['NA_Sales'].mean()

0.26466742981084057

In [10]:
confidence = 0.9

st.t.interval(confidence, len(games)-1, loc=games['NA_Sales'].mean(), scale=st.sem(games['NA_Sales']))

(0.25424000302622096, 0.2750948565954602)

In [11]:
confidence = 0.95

st.t.interval(confidence, len(games)-1, loc=games['NA_Sales'].mean(), scale=st.sem(games['NA_Sales']))

(0.25224217182654635, 0.2770926877951348)

In [12]:
confidence = 0.99

st.t.interval(confidence, len(games)-1, loc=games['NA_Sales'].mean(), scale=st.sem(games['NA_Sales']))

(0.2483371856283899, 0.28099767399329123)

In [13]:
confidence = 0.999

st.t.interval(confidence, len(games)-1, loc=games['NA_Sales'].mean(), scale=st.sem(games['NA_Sales']))

(0.24380482877655046, 0.2855300308451309)

In [14]:
games10pct = games.head(int(len(games)*(10/100)))

In [15]:
confidence = 0.95

resultFullDataset = st.t.interval(confidence, len(games)-1, loc=games['NA_Sales'].mean(), scale=st.sem(games['NA_Sales']))
resultFirst10PctDataset = st.t.interval(confidence, len(games10pct)-1, loc=games10pct['NA_Sales'].mean(), scale=st.sem(games10pct['NA_Sales']))

print('Interval with 95% confidence using the full dataset:', resultFullDataset)
print('Interval with 95% confidence using 10% of the dataset:', resultFirst10PctDataset)

Interval with 95% confidence using the full dataset: (0.25224217182654635, 0.2770926877951348)
Interval with 95% confidence using 10% of the dataset: (1.4445775909588952, 1.651215055213494)